/*
Website name: Srautu Valdymo Sistema 
Author: Alvydas Poðkevièius
Author URI: http://alvydaspos.com
Version: 1.0
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* BOILERPLATE FIXES */

a:hover, a:active { outline: none;}
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button { width: auto; overflow: visible;}

::-moz-selection{ background: #ffc600;	color: #262626; text-shadow: none; }
::selection { background: #ffc600;	color: #262626; text-shadow: none; }

/* Clear fixes */
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}
.clear {  clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0;}
.clearfix:before,.clearfix:after {  content: '\0020';  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0;}
.clearfix:after {  clear: both;}

/* END OF BOILERPLATE FIXES. Thanks to Paul Irish */

/*----------------------------------------------------------------------------------------*
 CSS DESIGN 
*-----------------------------------------------------------------------------------------*/


/* Body */
html {font-family: Calibri; color: #666; }
.full-width {width: 960px; margin: auto; } 
a {color: inherit; text-decoration: none;}

html, body {height: 100%;} /* STICKY */

/* HEADER */
#header 
{
    padding: 25px 0;
    background:#272727 url('../images/bg-header.jpg') repeat-x;
}

#logo {float: left; }

#user-menu {float: right; }
#user-menu li {display:inline-block; margin-left: 10px;}
#user-menu li a:hover {text-decoration: underline; }
#user-menu li img {position: absolute; margin-left: -36px;}

#header a { color: #fff; text-decoration: none; }

/*----------------------------------------------
 *   NAVIGATION 
 *-----------------------------------------------*/
#navigation-wrapper { background: #f1f1f1 url(../images/bg-navigation.jpg) repeat-x; color: #676767; font-size: 22px; border-bottom: 1px solid #cccccc; box-shadow: 0 2px 4px #ddd;}
#navigation li {display: inline-block;}
#navigation li a{display: block; padding: 20px 20px 20px 38px; }
#navigation li a:hover {padding-bottom: 17px; border-bottom: 3px solid #ff9800; }
#navigation li img {position: absolute; margin: -5px 0 0 -34px;}
#navigation .news {padding: 20px 10px; background: #ff9600 url(../images/bg-navigation-news.jpg) repeat-x; color: #fff; font-weight: bold;}
#navigation .news:hover {background-image: none;}
#navigation .active {background: #eee; box-shadow: inset 0 3px 5px #ccc;}

#navigation .sub-navigation 
{
    position: absolute;
    background: #eee;
    border: 1px solid #ccc;
    display:none;
}

#navigation .sub-navigation li 
{
    display: block;
    border-top: 1px solid #ccc;
}

#navigation .sub-navigation li a 
{
    padding: 10px 20px;
    font-size: 18px;
}

#navigation .sub-navigation li a:hover 
{
    border: none;
    background: #fefefe;
}


/*------------------------------------------------------------------------
 * BASIC STRUCTURE
 *-----------------------------------------------------------------------*/
#content-wrapper {padding-top: 30px; padding-bottom: 30px;}
#wrapper { min-height: 100%; height: auto !important; height: 100%;	margin: 0 auto -80px; } /* STICKY */
#footer, .push { height: 65px; /* STICKY */ }

/* FOOTER */
#footer {background-color: #343434; text-align: center; color: #bbbbbb; font-size: 18px; padding-top: 15px;}
#footer span {color: #ffc000;}
#footer p {padding-bottom: 10px;}

/* Section style */
.section-title, h1 { font-size: 30px; border-bottom: 1px solid #CCC; padding-left: 5px; margin: 40px 0 20px 0;}
.section-title:first-child , h1:first-child{margin-top: 10px;}
.section-half {width: 472px; float: left; margin: 0 0 0 8px;}
.section-half:nth-child(odd) {margin: 0 8px 0 0;}

/*------------------------------------------------------------------------
 * TABLES
 *-----------------------------------------------------------------------*/
table th {background: #666; color: #fff; padding: 10px; }
table td {padding: 10px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; }
table td:first-child {border-left: 1px solid #d9d9d9;}
table tr:first-child td{border-top: 1px solid #d9d9d9;}
table tr {background: #efefef;}
table tr:nth-child(odd) {background: #fbfbfb; }


/* PAGINATION */
.pagination {margin: 10px 0;}
.pagination li {display: inline-block; margin-right: 3px;}
.pagination a {display: block; padding: 5px; border-radius: 3px;}
.pagination .current {background: #ff9800;  color: #fff; display: block; font-weight: bold;}
.pagination a:hover {text-decoration: none; background: #ccc; }
.pagination .current:hover {background: #ff5400; text-decoration: none; }

/*------------------------------------------------------------------------
 * INPUTS AND ETC
 *-----------------------------------------------------------------------*/

/* INPUT STYLE */
input, textarea, select {
    padding: 5px;
    border-radius: 3px;
    background: #F6F6F6;
    border: 1px solid #CCC;
    color: #666;
    font-style: italic;
}

.input-validation-error 
{
    background: #FFF5F8;
    border-color: #DD7474;
}

.field-validation-error 
{
    color: #f00;
    display: block;
    margin-left: 5px;
    font-size: 12px;
}

/*------------------------------------------------------------------------
 * BUTTONS
 *-----------------------------------------------------------------------*/

/* FILTER BUTTONS */
.filter-buttons { margin: 10px 0;}

.button-medium {
    background-color: #F60;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.button-medium.button-export {background-color: #75B424;}
.button-medium.button-export:hover {background-color: #569900;}

.button-medium.button-filter {background-color: #FF8F00;}
.button-medium.button-filter:hover {background-color: #f60;}

/*------------------------------------------------------------------------
 * PRODUCT RELATED
 *-----------------------------------------------------------------------*/
/* PRODUCT */
.product-image {
    background-color: #EEE;
    border: 1px solid #CCC;
    text-align: center;
    padding: 10px;
}

.product-name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.product-price {font-size: 30px; margin-bottom: 10px;}
.product-description { line-height: 22px;}

/* PRODUCT ORDER */
.product-order {
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    padding: 0 10px;
}

.product-order label {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.product-order input {width: 178px; height: 20px;}
.product-order select {width: 190px;}

.product-order>div { margin: 10px 0; }
.product-order .button 
{
    background: #8ea8ad;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 5px;
    width:170px;
    margin-left: 10px;
}
.product-order .button:hover {background: #1596af;}
#product-order-button {margin:0px; background: #a4b34e; font-size: 18px; font-weight: bold;padding: 12px 10px;}
#product-order-button:hover { background:#92a90f; }
.product-order .price {font-size: 22px; margin-left: 10px; }
.product-flow {width: 100%; }

/*------------------------------------------------------------------------
 * RANGE SLIDER
 *-----------------------------------------------------------------------*/

.range-slider {position:relative; background: #f0f0f0; border: 1px solid #d8d8d8; padding:10px;}

.range-slide {
    height: 4px;
    border: 1px solid white;
    background: #AAA;
    width: 400px;
    right: 10px;
    top: 17px;
    position: absolute;
}

.range-handle {
    background: #AAA;
    width: 10px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid white;
    position: absolute;
    margin-top: -10px;
}

.range-percentage {font-size: 22px; font-weight: bold; color: #bfaf70;}

/*------------------------------------------------------------------------
 * NEWS
 *-----------------------------------------------------------------------*/
 
.news-post .title {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #EEE;
}

.news-post 
{
    margin-bottom: 30px;
}

.news-post .meta 
{
    margin: 5px 0;
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.news-post .meta li
{
    float: left;  
    margin-right: 10px;  
}

/*------------------------------------------------------------------------
 * PRANESIMAI
 *-----------------------------------------------------------------------*/
.rasyti-nauja-pranesima 
{
    background: #3a3; 
    padding: 10px; 
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display:block;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.rasyti-nauja-pranesima:hover 
{
    background: #4b4; 
}
     
.pranesimas 
{
    margin-bottom: 20px;
    padding: 10px;
    background: #fafafa;
    border-radius: 5px;
}

.pranesimas p {margin-bottom: 10px; }

.pranesimas .trinti { font-weight: bold;}
.pranesimas .trinti:hover { text-decoration: underline;}

.pranesimas h2 
{
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px 0;
}

.pranesimas h2 .autorius, .pranesimas h2 .data 
{
    font-weight: bold;
}

.pranesimas-premija {background: #D0FDE1;}
.pranesimas-premija .tipas {color: #3a3; }

.pranesimas-ispejimas { background: #FFE2E2;}
.pranesimas-ispejimas .tipas {color: #a00; }

.pranesimas-svarbus {background: #FAF1AE;}
.pranesimas-svarbus .tipas {color: #a00; }


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}